.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 90px auto;
  width: 30%;
  box-sizing: border-box;
  border: 3px solid rgb(65, 59, 59);
  padding: 40px;
  border-radius: 40px;
  background-color:  rgb(42, 38, 38, 0.5);

   box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2);
   
  box-shadow: inset -20px -20px 400px rgb(28, 24, 24)

}

.session-label {
  font-size: 36px;
  margin-bottom: 20px;

  text-transform: capitalize;
  border-radius: 30px;
  padding: 20px;
  margin-top: -10px;
  color: rgb(173, 164, 166);
  text-shadow: 2px 3px 5px rgb(101, 96, 98);
}

.timer {
  font-size: 68px;
  font-weight: bolder;
  height: 120px;
  width: 250px;
  box-sizing: border-box;
  border: 2px solid rgb(23, 22, 22);
  padding: 10px;
  border-radius: 60px;
  /* background-color: #f2f2f2; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: rgb(116, 101, 101);
  color: rgb(42, 36, 36);
  box-shadow: inset 2px 2px 5px #aa939373, inset -5px -5px 10px #474344;
  border: 3px solid rgb(180, 157, 157);
}

.button-container {
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(96, 82, 82);
  color: rgb(189, 172, 172);
  text-shadow: 1px 1px 6px rgb(167, 167, 156);
  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.button-primary {
  color: rgb(189, 172, 172);
  background-color: rgba(31, 66, 51, 0.6);
  text-shadow: 1px 1px 6px rgb(167, 167, 156);
  font-size: 20px;

}


.active {
  background-color: #d43f3a;
  color: #fff;
}

.pomo-h1 {
  text-align: center;
  margin-top: -250px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: rgb(173, 164, 166);
  text-shadow: 2px 3px 5px rgb(101, 96, 98);
}
