.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 90px auto;
  width: 30%;
  box-sizing: border-box;
  border: 2px solid rgb(80, 78, 75);
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(128, 128, 128, 0.2);
}

.session-label {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 20px;
  margin-top: -10px;
}

.timer {
  font-size: 72px;
  font-weight: bold;
  height: 120px;
  width: 250px;
  box-sizing: border-box;
  border: 2px solid rgb(23, 22, 22);
  padding: 10px;
  border-radius: 60px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ddd;
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.button-primary {
  background-color: #333;
  color: #fff;
}

.button-primary:hover {
  background-color: #fff;
  color: #333;
}

.active {
  background-color: #d43f3a;
  color: #fff;
}

.pomo-h1 {
  text-align: center;
  margin-top: -250px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 3px 5px 5px rgba(91, 118, 135, 0.9);
}
