.home-link-navbar {
  margin-left: 10px;
  font-size: 25px;
  color: rgb(136, 131, 131) ;
  margin-top: 10px;
}

.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  background-color: rgba(106, 101, 101, 0.2);
  z-index: 100;
}

#basic-nav-dropdown {
  margin-left: -50px;
  font-size: 25px;
  margin-top: 80px;
  margin-left:-40px;
  color: rgb(136, 131, 131);

}

.navdropdown-item {
  color: rgb(209, 57, 57);
  font-size: 1rem;
  font-weight: light;
  border-radius: 10px;
  background-color: rgb(116, 101, 101);

}

.navdropdown-item:hover {
  background-color: rgb(60, 52, 52);
    text-shadow: 1px 1px 3px rgb(59, 56, 56);
    color:  rgb(102, 100, 100);
  
  
  
}




.navdropdown-item a {
  text-shadow: 1px 1px 3px rgb(105, 101, 101);
  color:  rgb(174, 169, 169);
  text-decoration: none;

}


.dropdown-menu{
  background-color: rgb(116, 101, 101);

}